.auth-title,
.card-title {
  text-align: center; }

.auth-title {
  font-size: 2em; }

.card-action {
  background-color: cadetblue;
  display: flex;
  flex-direction: row;
  justify-content: center; }

.btn {
  margin: 0 20px 0 0; }
  .btn:hover {
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75); }
